body {
  background-repeat: no-repeat;
  margin: 3em 3em;
  padding: 0;
  font-size: 4em;
  font-style: oblique;
  color: #4effef;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  background-image: linear-gradient(
    111.11550686550027deg,
    rgba(248, 104, 92, 1) 5.911420204978038%,
    rgba(25, 64, 169, 1) 95.95534407027817%
  );
}
.BUTTON_FQP {
  background: #f63dd9;
  background-image: -webkit-linear-gradient(top, #f63dd9, #1e62d0);
  background-image: -moz-linear-gradient(top, #f63dd9, #1e62d0);
  background-image: -ms-linear-gradient(top, #f63dd9, #1e62d0);
  background-image: -o-linear-gradient(top, #f63dd9, #1e62d0);
  background-image: linear-gradient(to bottom, #f63dd9, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Arial;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_FQP:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.wrapper {
  display: grid;
  grid-gap: 1em;
}
.menu {
  grid-column: 1/7;
  grid-row: 1/2;
}
.menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3em;
}
.menu-list li {
  font-size: 100px;
  padding: 1em 1em 1em 1em;
  background: radial-gradient(rgba(53, 0, 159, 1), rgba(14, 193, 255, 0.54));
}
.slider {
  grid-column: 1/5;
  grid-row: 2/4;
  border-color: yellow;
  background-repeat: no-repeat;
  background-image: url("img/Taco_Crispy_Beef_990x725.jpg");
  background-size: 100%;
}
.discount-1 {
  grid-column: 5/7;
  grid-row: 2/3;
}
.discount-2 {
  grid-column: 5/7;
  grid-row: 3/4;
}
[class*="discount-"] {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: #d5b0ac;
}
[class*="discount-"] h2 {
  color: yellowgreen;
}
.catagories {
  grid-column: 1/7;
  grid-row: 4/5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.catagory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catagory img {
  width: 3em;
}
.main-dish {
  font-size: 120px;
  font-weight: 900;
  color: black;
  grid-column: 1/7;
  grid-row: 5/6;
  background-repeat: no-repeat;
  background-image: url("img/chicken-seekh-kabab_1.jpg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-dish a {
  margin: 0em 80% 20em 3%;
  width: auto;
}
.main-dish h2,
p {
  margin-left: 3%;
}
@media only screen and (max-width: 2800px) {
  .wrapper {
    display: grid;
    grid-gap: 1em;
  }
  .menu {
    grid-column: 1/7;
    grid-row: 1/2;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .slider {
    grid-column: 1/7;
    grid-row: 2/4;
  }
  .discount-1 {
    grid-column: 1/7;
    grid-row: 4/5;
  }
  .discount-2 {
    grid-column: 1/7;
    grid-row: 5/6;
  }
  .catagories {
    grid-column: 1/7;
    grid-row: 6/7;
    flex-direction: column;
  }
  .main-dish {
    grid-column: 1/7;
    grid-row: 7/8;
  }
}
