* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(249, 255, 255);
}

header {
  margin-top: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
}

.title {
  float: left;
  margin: 20px 7px;
  font-size: 40px;
}
.title span {
  color: rgb(45, 45, 45);
}
.logout_btn {
  cursor: pointer;
  float: right;
  margin: 22px 10px;
  font-weight: 400;
  padding: 4px;
  border-radius: 3px;
  background-color: rgb(91, 100, 133);
}
aside {
  position: fixed;
  left: 0;
  width: 250px;
  background-color: rgb(0, 0, 0);
  margin-top: 70px;
  height: 100%;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-top: 30px;
}
.sidebar_content a {
  display: block;
  line-height: 60px;
  margin-left: 20px;
  text-decoration: none;
  margin-bottom: 15px;
  border-bottom: solid 0.3px rgb(91, 100, 133);
}
.sidebar_content a i {
  transition: 0.2s;
  font-size: 25px;
}
.sidebar_content a span {
  margin-left: 10px;
  transition: 0.2s;
  font-size: 20px;
}
.sidebar_content a i:hover,
span:hover {
  color: rgb(45, 45, 45);
}
 #menu:checked ~ .aside{
    left: 100%;
    color: salmon;
  }

.menu-bar {
  display: none;
}
@media (max-width: 860px) {
  .sidebar_content a span {
    display: none;
  }

  .sidebar_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    margin-top: 30px;
  }
  .sidebar_content a {
    border-bottom: none;
  }
  .sidebar_content a i {
    line-height: 30px;
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .logout_btn {
    display: none;
  }

  .menu-bar {
    cursor: pointer;
    display: block;
    color: white;
    float: right;
    font-size: 30px;
    margin: 22px 10px;
    font-weight: 400;
  } 
  aside {
    left: 0%;
    width: 100%;
    transition: all 0.5s;
  }

  .sidebar_content a span {
    display: block;
    margin-left: 10px;
    transition: 0.2s;
    font-size: 20px;
  }
  .sidebar_content a i {
    display: none;
  }
}
