:root {
  --base-size: 1em;
  --type-scale: 1.125;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}


h1 {font-size: var(--h1);}


h2 {font-size: var(--h2);}


h3 {font-size: var(--h3);}


h4 {font-size: var(--h4);}


h5 {font-size: var(--h5);}


p {font-size: var(--base-size);}


small, .text_small {font-size: calc(var(--base-size) / var(--type-scale));}


*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: rgb(192, 192, 192);
  font-family: "Red Rose", cursive, sans-serif;
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  margin: 0;
  background-color: hsl(24, 100%, 50%);
  width: 100vw;
  height: 4em;
}
.tabs_container {
  margin: 0;
  padding: 0 3em;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tabs_container li {
  padding: 0.5em;
  list-style: none;
  text-align: center;
  background-color: #e7305b;
  border-radius: 0.2em;
  border: solid 1px black;
}

.tabs_container > li {
  position: relative;
  display: inline-block;
  margin-left: 2em;
}
.sub {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}

.sub_tabs_container:hover .sub {
  display: block;
}

.tabs_container a {
  font-size: 1em;
  color: rgb(235, 235, 235);
  text-decoration: none;
  text-transform: uppercase;
}
.tabs_container a:hover {
  color: rgb(58, 110, 165);
}
.toggle_nav {
  width: auto;
  display: none;
}
.btn {
  display: none;
}
.content_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: url(//unsplash.it/1000/1000) 0 / cover;
}
.content_container p {
  display: grid;
  place-content: center;
  width: 400px;
  height: 300px;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .tabs_container {
    display: none;
    
  }
  nav {
    min-height: 70px;
    height: auto;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .btn {
    display: block;
  }
  .btn span {
    position: relative;
    display: block;
    width: 50px;
    height: 6px;
    border: solid green 1px;
    border-radius: 3px;
    background-color: rgb(58, 110, 165);
  }
  .btn span,
  .btn span::before,
  .btn span::after {
    width: 50px;
    height: 6px;
    border: solid green 1px;
    border-radius: 3px;
    background-color: rgb(58, 110, 165);
  }
  .btn span::before,
  .btn span::after {
    position: absolute;
    content: "";
    left: -1px;
  }
  .btn span::before {
    top: -11px;
  }
  .btn span::after {
    top: 10px;
  }
 
  .toggle_nav:checked ~ .tabs_container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: auto;
    margin: 20px 0px 10px 0px;
    padding: 0;}
.tabs_container > li {
margin-bottom: 7px;
  margin-left: 2em;
}
.tabs_container li {
  padding:1em;
}
 .toggle_nav:checked ~ .btn{
margin-top: 20px;
 }
 
 .sub{
   display: block;
   top: 0;
   left:120px
 }
 .sub_tabs{
   padding: 2px;
   font-size: 0.7em;
 }
}
