body {
  position: relative;
  font-family: sans-serif;
  color: rgb(21, 37, 66);
  padding: 0;
  margin: 0;
  background-color: #cdb30c;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
}

.title {
  color: #62760c;
  margin: 2rem auto;
  text-align: center;
  letter-spacing: 4px;
}
section {
  justify-self: center;
  align-self: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;
}
section h2 {
  font-size: 15px;
  margin-bottom: 20px;

  text-align: center;
}
.time {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #523906;
  width: 600px;
  height: 300px;
  border: 3px ridge #535204;
  border-radius: 5px;
}
.time span {
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  color: #62760c;
  padding: 0px 30px;
  margin: 5px;
}
.time span h3 {
  text-align: center;
  font-size: 60px;
  margin: 3px;
}
.time span div {
  margin: 20px;
  font-size: 1rem;
  text-align: center;
}
.newsletter {
  justify-self: center;
  align-self: center;
  width: 600px;

}
.newsletter span {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.newsletter input {
  width: 65%;
  height: 25px;
  padding: 8px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #62760c; 
   cursor: pointer;
}
.newsletter input::selection {
  border: none;
}
.newsletter button {
  
  color: #ebebeb;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 10px;
  background-color: #535204;
  border: none;
  margin: 0 0 3px 10px;
  border-radius: 12px;
  transition: hover 0.5s;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #62760c;
  width: 134px;
  height: 45px;
}
.newsletter button:active{
  color: aqua;
}
 .info {
  text-align: center;
  justify-self: center;
  align-self: center;
}
