/*
main:
0, 35, 62
0, 35, 108
0, 35, 208
Greys:
61 61 61
107 107 107
209 209 209
Accent:
rgb(255,214,0)
rgb(255,235,59)
247, 208, 2
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: rgb(107 107 107);
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  color: rgb(0, 35, 208);
  font-family: "Patua one", cursive;
}
button{
  cursor: pointer;
}
i{
  cursor: pointer;
}
header {
  width: 100%;
  height: 5rem;
  background-color: rgb(0, 35, 108);
  display: flex;
}
header .title {
  display: block;
  flex-grow: 1;
  font-size: 25px;
  margin: 20px;
  color: #f1ebbb;
  letter-spacing: 3px;
  font-weight: 700;
}
header .tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tabs a {
  font-size: 18px;
  margin: 20px 30px;
  color: rgb(209 209 209);
}
.tabs a:last-child {
  padding: 7px;
  border: solid 0;
  border-radius: 4px;
  color: rgb(61, 61, 61);
  background-color: rgb(247, 208, 2);
}
.tabs a:last-child:hover {
  background-color: rgb(0, 35, 208);
}
.tabs a:link {
  text-decoration: none;
}
.tabs a:hover {
  color: rgb(247, 208, 2);
}
.free_training {
  width: 100%;
  height: 640px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: url("../../src/imgs/javascript-js-seeklogo.com.svg") 0 /50% 100% no-repeat,
    linear-gradient(to right, #f7df1e, #f7df1e 50%,transparent 50%);
}
.part_1 {
  width: 50%;
}
.part_2 {
  width: 40%;
  padding:0px 20px;
}
.part_2 h1{
  font-size: 33px;

}
.part_2 p{
  font-size: 20px;
}
.free_training button {
  padding: 7px;
  border: none;
  border-radius: 10px;
  color: rgb(61, 61, 61);
  background-color: rgb(255, 235, 59);
  font-size: 29px;
  box-shadow: none;
}
.free_training button:hover {
  box-shadow: 1px 1px inset, 1px 1px;
}
.companies {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
 
  flex-wrap: wrap;
  background-color: rgb(107 107 107);
  background: url("https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-icon-marilyn-scott-0.png")
      25% 30px /75px 75px no-repeat,
    url("https://www.freepnglogos.com/uploads/new-google-logo-transparent--14.png")
      50% 10px/ 150px 100px no-repeat,
    url("https://www.freepnglogos.com/uploads/netflix-logo-circle-png-5.png")
      75% 36px/ 75px 60px no-repeat;
      background-color:rgb(236, 236, 236) ;
}
.companies p {
font-size: 33px;
  text-align: center;
  margin: 20px;
  color: rgb(107, 107 ,107);
}
.question{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width:100vw;
  height:500px ;
  font-size: 40px;
  color:rgb(61,61,61) ;

}
.question p{
  text-align: center;
margin: 0;
}
.programs{
  width: 100vw;
  height: 600px;
display: flex;
flex-direction: row;
justify-content: space-evenly;

}
[class*="program_"]{
  margin: 20px;
  height: 600px;
width: 33%;
display: flex;
flex-direction: column;
align-content: center;
justify-content: flex-start;
}
[class*="program_"] img{
align-self: center;

}
[class*="program_"] h2{
display: block;
text-align: center;
color:rgb( 0, 35, 108);

}
.btn{
display: block;
color: white;
background-color:rgb( 247, 208, 2);
border: none;
border-radius: 4px;
padding: 5px;
font-size: 2em;
}

.btn:hover{
background-color: rgba(247, 208, 2,0.8);
}
.results{
  width:100vw;
  height: 100vh;
  background: url("../../src/imgs/jefferson-santos-9SoCnyQmkzI-unsplash.jpg") 0 / cover no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.results h1{
  color: rgb(209 209 209);
font-size: 3em;
text-align: center;
letter-spacing: 3px;

}
.results p{
  width: 60vw;
  margin: 10px ;
color: rgb(209 209 209);
font-size: 2em;
text-align: center;

}
.results .btn{
padding: 10px;
border-radius: 7px;
}

footer{
  height:250px;
width: 100vw;
display: flex;
flex-direction: column;
}
.social{
 
  width: 20%;
  margin: 20px 0 60px 0px;
  align-self: center;
  display: flex;
  flex-direction:row ;
  justify-content: space-around;
}
.social i{
  color: rgb(61,61,61);
font-size: 3em;
}
.social i:hover{
color: rgb(255, 235, 59);
}
.info{
display: block;

}
.copyright{
float: left;
margin: 40px 0px 0px 60px;
font-size: 1.2em;
}
.links{
  margin: 40px 60px 0px 0px;
float: right;
font-size: 1.2em;
}
@media(max-width:800px){
.free_training{

  
}

}